

.parallax-viewport {
	position:relative;
	overflow:hidden;
   width: 1560px;
	height:550px;
	margin:0px auto;
	position:absolute;
	text-align:center;
    background: url(images/top-image.jpg) no-repeat;
}
.parallax-layer {
	position:absolute;
	text-align:center;
}
.parallax1 {width: 950px; height: 573px; display: block; top: 74.5895%; margin-top: -427.398px; left: 24.6184%; margin-left: -233.874px;}
.parallax2 {width: 900px; height: 573px; display: block; top: 74.5895%; margin-top: -427.398px; left: 24.6184%; margin-left: -221.565px;}
.parallax3 {width: 970px; height: 563px; display: block; top: 74.5895%; margin-top: -419.939px; left: 24.6184%; margin-left: -238.798px;}

